---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: adguard-home/adguard-home
  newName: adguard/adguardhome
  newTag: v0.107.71
- name: apprise/apprise
  newName: caronc/apprise
  newTag: 1.1.8
- name: clamav/clamav
  newName: clamav/clamav
  newTag: 1.5.1
- name: coder/coder
  newName: ghcr.io/coder/coder
  newTag: v2.11.3
- name: dify/api
  newName: langgenius/dify-api
  newTag: 1.12.1
- name: dify/migration
  newName: langgenius/dify-api
  newTag: 1.12.1
- name: dify/plugin-daemon
  newName: langgenius/dify-plugin-daemon
  newTag: 0.5.3-local
- name: dify/sandbox
  newName: langgenius/dify-sandbox
  newTag: 0.2.12
- name: dify/scheduler
  newName: langgenius/dify-api
  newTag: 1.12.1
- name: dify/ssrf-proxy
  newName: ubuntu/squid
  newTag: 6.6-24.04_beta
- name: dify/web
  newName: langgenius/dify-web
  newTag: 1.12.1
- name: dify/worker
  newName: langgenius/dify-api
  newTag: 1.12.1
- name: gloomhaven/client
  newName: gloomhavensecretariat/ghs
  newTag: v0.144.7
- name: gloomhaven/server
  newName: gloomhavensecretariat/ghs-server-postgresql
  newTag: v0.144.0
- name: home-assistant/home-assistant
  newName: ghcr.io/home-assistant/home-assistant
  newTag: 2026.2.0
- name: localai/localai
  newName: quay.io/go-skynet/local-ai
  newTag: v2.26.0-ffmpeg
- name: mongodb/compass
  newName: haohanyang/compass-web
  newTag: 0.4.0-beta.1
- name: network/cloudflare-warp
  newName: amirdaaee/cloudflare-warp
  newTag: 2023.10.120-1
- name: network/cloudflared
  newName: cloudflare/cloudflared
  newTag: 2026.2.0
- name: network/haproxy
  newName: haproxy
  newTag: 3.0.2-alpine
- name: network/tailscale
  newName: ghcr.io/tailscale/tailscale
  newTag: v1.82.0
- name: network/wireguard
  newName: ghcr.io/jordanpotter/docker-wireguard
  newTag: '2025-05-20'
- name: pgadmin/pgadmin
  newName: dpage/pgadmin4
  newTag: '8.14'
- name: phpmyadmin/phpmyadmin
  newName: phpmyadmin
  newTag: 5.2.1
- name: redis/insight
  newName: redis/redisinsight
  newTag: '2.70'
- name: rsshub/rsshub
  newName: diygod/rsshub
  newTag: '2026-02-08'
- name: seafile/backend
  newName: seafileltd/seafile-pro-mc
  newTag: 13.0-latest
- name: seafile/frontend
  newName: seafileltd/seafile-pro-mc
  newTag: 13.0-latest
- name: seafile/metadata
  newName: seafileltd/seafile-md-server
  newTag: 13.0-latest
- name: seafile/notification
  newName: seafileltd/notification-server
  newTag: 13.0-latest
- name: seafile/seadoc
  newName: seafileltd/sdoc-server
  newTag: 2.0-latest
- name: seafile/thumbnail
  newName: seafileltd/thumbnail-server
  newTag: 13.0-latest
- name: syncthing/relaysrv
  newName: syncthing/relaysrv
  newTag: 2.0.3
- name: syncthing/syncthing
  newName: syncthing/syncthing
  newTag: 2.0.3
- name: unifi/network
  newName: lscr.io/linuxserver/unifi-network-application
  newTag: 10.0.162-ls114
- name: vscode/server
  newName: ghcr.io/progamesigner/vscode-server
  newTag: 20230422-jammy
- name: windmill/windmill-lsp
  newName: ghcr.io/windmill-labs/windmill-lsp
  newTag: 1.603.3
- name: windmill/windmill-server
  newName: ghcr.io/windmill-labs/windmill
  newTag: 1.628.3
- name: windmill/windmill-worker
  newName: ghcr.io/windmill-labs/windmill
  newTag: 1.628.3
patches:
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: browserless
    spec:
      replicas: 2
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: ceph-radosgw
    spec:
      replicas: 2
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: localai
    spec:
      replicas: 0
- patch: |-
    apiVersion: apps/v1
    kind: StatefulSet
    metadata:
      name: rabbitmq
    spec:
      replicas: 0
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: windmill-worker
    spec:
      replicas: 4
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: windmill-browser-worker
    spec:
      replicas: 2
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: windmill-native-worker
    spec:
      replicas: 0
resources:
- components
- kubernetes
- services
