---
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
configMapGenerator:
- name: dify
  literals:
  - APP_WEB_URL=''
  - CODE_MAX_DEPTH=10
  - CODE_MAX_NUMBER_ARRAY_LENGTH=10000
  - CODE_MAX_OBJECT_ARRAY_LENGTH=50
  - CODE_MAX_STRING_ARRAY_LENGTH=50
  - CODE_MAX_STRING_LENGTH=1000000
  - CONSOLE_API_URL=''
  - ENABLE_CHECK_UPGRADABLE_PLUGIN_TASK=true
  - ENABLE_CLEAN_EMBEDDING_CACHE_TASK=true
  - ENABLE_CLEAN_MESSAGES=true
  - ENABLE_CLEAN_UNUSED_DATASETS_TASK=true
  - MAIL_DEFAULT_SEND_FROM=default@example.com
  - MAIL_TYPE=smtp
  - PLUGIN_STORAGE_TYPE=local
  - SERVICE_API_URL=''
  - SQLALCHEMY_POOL_PRE_PING=true
  - STORAGE_TYPE=s3
  - SWAGGER_UI_ENABLED=true
  - TEMPLATE_TRANSFORM_MAX_LENGTH=1000000
  - VECTOR_STORE=weaviate
  - WORKFLOW_LOG_CLEANUP_ENABLED=true
  - WORKFLOW_LOG_RETENTION_DAYS=7
- name: dify-sandbox
  files:
  - python-requirements.txt=sandbox-python-requirements.txt
- name: dify-ssrf-proxy
  files:
  - docker-entrypoint.sh=ssrf-proxy-entrypoint.sh
  - squid.conf=ssrf-proxy.conf
  - squid.conf.template=ssrf-proxy.conf.template
resources:
- controllers.yaml
- policies.yaml
secretGenerator:
- name: dify
  envs:
  - dify.env
  literals:
  - CELERY_BROKER_URL=redis://redis.default.svc.cluster.local:6379/1
  - CODE_EXECUTION_API_KEY=password
  - CODE_EXECUTION_ENDPOINT=http://dify-sandbox.default.svc.cluster.local:8194
  - DB_HOST=postgresql.default.svc.cluster.local
  - DB_PASSWORD=password
  - DB_PORT=5432
  - DB_USERNAME=default
  - PLUGIN_DAEMON_API_KEY=password
  - PLUGIN_DAEMON_SERVER_KEY=password
  - PLUGIN_DAEMON_URL=http://dify-plugin-daemon.default.svc.cluster.local:5002
  - PLUGIN_REMOTE_INSTALL_HOST=dify-plugin-daemon.default.svc.cluster.local
  - PLUGIN_REMOTE_INSTALL_PORT=5003
  - REDIS_HOST=redis.default.svc.cluster.local
  - REDIS_PORT=6379
  - S3_ACCESS_KEY=default
  - S3_BUCKET_NAME=dify
  - S3_ENDPOINT=http://radosgw.default.svc.cluster.local:7480
  - S3_REGION=us-east-1
  - S3_SECRET_KEY=password
  - SSRF_PROXY_HTTP_URL=http://dify-ssrf-proxy.default.svc.cluster.local:3128
  - SSRF_PROXY_HTTPS_URL=http://dify-ssrf-proxy.default.svc.cluster.local:3128
  - WEAVIATE_API_KEY=password
  - WEAVIATE_ENDPOINT=http://weaviate.default.svc.cluster.local:8080
