---
apiVersion: v1
kind: Service
metadata:
  name: headless-rabbitmq
spec:
  clusterIP: None
  ports:
  - name: amqp
    port: 5671
    protocol: TCP
    targetPort: amqp
  - name: amqp-tls
    port: 5672
    protocol: TCP
    targetPort: amqp-tls
  selector:
    app.kubernetes.io/component: rabbitmq
    app.kubernetes.io/name: rabbitmq
    app.kubernetes.io/part-of: services
