---
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
configMapGenerator:
- name: ceph
  files:
  - ceph.conf=ceph.conf
images:
- name: ceph/ceph
  newName: quay.io/ceph/ceph
  newTag: v20.1.1
resources:
- controllers.yaml
- rbac.yaml
