---
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
configMapGenerator:
- name: ceph
  files:
  - ceph.conf=ceph.conf
- name: ceph-csi
  files:
  - config.json=ceph-csi.json
images:
- name: ceph/ceph
  newName: quay.io/ceph/ceph
  newTag: v20.1.1
- name: ceph/csi
  newName: quay.io/cephcsi/cephcsi
  newTag: v3.15.0
- name: csi/attacher
  newName: registry.k8s.io/sig-storage/csi-attacher
  newTag: v4.10.0
- name: csi/provisioner
  newName: registry.k8s.io/sig-storage/csi-provisioner
  newTag: v6.0.0
- name: csi/registrar
  newName: registry.k8s.io/sig-storage/csi-node-driver-registrar
  newTag: v2.15.0
- name: csi/resizer
  newName: registry.k8s.io/sig-storage/csi-resizer
  newTag: v2.0.0
- name: csi/snapshotter
  newName: registry.k8s.io/sig-storage/csi-snapshotter
  newTag: v8.4.0
- name: csi-addons/controller
  newName: quay.io/csiaddons/k8s-controller
  newTag: v0.13.0
resources:
- controllers.yaml
- drivers.yaml
- rbac.yaml
- https://github.com/csi-addons/kubernetes-csi-addons/releases/download/v0.13.0/crds.yaml
- https://raw.githubusercontent.com/kubernetes-csi/external-snapshotter/v8.4.0/client/config/crd/groupsnapshot.storage.k8s.io_volumegroupsnapshotclasses.yaml
- https://raw.githubusercontent.com/kubernetes-csi/external-snapshotter/v8.4.0/client/config/crd/groupsnapshot.storage.k8s.io_volumegroupsnapshotcontents.yaml
- https://raw.githubusercontent.com/kubernetes-csi/external-snapshotter/v8.4.0/client/config/crd/groupsnapshot.storage.k8s.io_volumegroupsnapshots.yaml
- https://raw.githubusercontent.com/kubernetes-csi/external-snapshotter/v8.4.0/client/config/crd/snapshot.storage.k8s.io_volumesnapshotclasses.yaml
- https://raw.githubusercontent.com/kubernetes-csi/external-snapshotter/v8.4.0/client/config/crd/snapshot.storage.k8s.io_volumesnapshotcontents.yaml
- https://raw.githubusercontent.com/kubernetes-csi/external-snapshotter/v8.4.0/client/config/crd/snapshot.storage.k8s.io_volumesnapshots.yaml
secretGenerator:
- name: ceph-csi-cephfs
  literals:
  - userID=ceph-csi-cephfs
  - userKey=AQB7sAppNEruJhAAVYNN4fTKxJ1VUbc6DyN0NA==
- name: ceph-csi-rbd
  literals:
  - userID=ceph-csi-rbd
  - userKey=AQCLsApphTlZDhAALsLbUvN1zUlBsuio3DCefQ==
