---
apiVersion: v1
kind: Service
metadata:
  name: headless-mongodb
spec:
  clusterIP: None
  ports:
  - name: mongodb
    port: 27017
    protocol: TCP
    targetPort: mongodb
  selector:
    app.kubernetes.io/component: mongodb
    app.kubernetes.io/name: mongodb
    app.kubernetes.io/part-of: services
