---
apiVersion: v1
kind: Service
metadata:
  annotations:
    kubernetes.progamesigner.dev/hostname: browserless
  name: browserless
spec:
  ports:
  - name: http
    port: 3000
    protocol: TCP
    targetPort: http
  selector:
    app.kubernetes.io/component: browserless
    app.kubernetes.io/name: browserless
    app.kubernetes.io/part-of: services
  type: LoadBalancer
---
apiVersion: v1
kind: Service
metadata:
  annotations:
    kubernetes.progamesigner.dev/hostname: elasticsearch
  name: elasticsearch
spec:
  ports:
  - name: elasticsearch
    port: 9200
    protocol: TCP
    targetPort: elasticsearch
  selector:
    app.kubernetes.io/component: elasticsearch
    app.kubernetes.io/name: elasticsearch
    app.kubernetes.io/part-of: services
  type: LoadBalancer
---
apiVersion: v1
kind: Service
metadata:
  annotations:
    kubernetes.progamesigner.dev/hostname: ai,localai
  name: localai
spec:
  ports:
  - name: http
    port: 8080
    protocol: TCP
    targetPort: http
  selector:
    app.kubernetes.io/component: localai
    app.kubernetes.io/name: localai
    app.kubernetes.io/part-of: services
  type: LoadBalancer
---
apiVersion: v1
kind: Service
metadata:
  annotations:
    kubernetes.progamesigner.dev/hostname: mariadb,mysql
  name: mariadb
spec:
  ports:
  - name: mariadb
    port: 3306
    protocol: TCP
    targetPort: mariadb
  selector:
    app.kubernetes.io/component: mariadb
    app.kubernetes.io/name: mariadb
    app.kubernetes.io/part-of: services
  type: LoadBalancer
---
apiVersion: v1
kind: Service
metadata:
  annotations:
    kubernetes.progamesigner.dev/hostname: radosgw,s3
  name: radosgw
spec:
  ports:
  - name: http
    port: 7480
    protocol: TCP
    targetPort: http
  selector:
    app.kubernetes.io/component: radosgw
    app.kubernetes.io/name: ceph
    app.kubernetes.io/part-of: services
  type: LoadBalancer
---
apiVersion: v1
kind: Service
metadata:
  annotations:
    kubernetes.progamesigner.dev/hostname: mongodb
  name: mongodb
spec:
  ports:
  - name: mongodb
    port: 27017
    protocol: TCP
    targetPort: mongodb
  selector:
    app.kubernetes.io/component: mongodb
    app.kubernetes.io/name: mongodb
    app.kubernetes.io/part-of: services
  type: LoadBalancer
---
apiVersion: v1
kind: Service
metadata:
  annotations:
    kubernetes.progamesigner.dev/hostname: postgresql
  name: postgresql
spec:
  ports:
  - name: postgresql
    port: 5432
    protocol: TCP
    targetPort: postgresql
  selector:
    app.kubernetes.io/component: postgresql
    app.kubernetes.io/name: postgresql
    app.kubernetes.io/part-of: services
  type: LoadBalancer
---
apiVersion: v1
kind: Service
metadata:
  annotations:
    kubernetes.progamesigner.dev/hostname: rabbitmq
  name: rabbitmq
spec:
  ports:
  - name: amqp-tls
    port: 5672
    protocol: TCP
    targetPort: amqp-tls
  selector:
    app.kubernetes.io/component: rabbitmq
    app.kubernetes.io/name: rabbitmq
    app.kubernetes.io/part-of: services
  type: LoadBalancer
---
apiVersion: v1
kind: Service
metadata:
  annotations:
    kubernetes.progamesigner.dev/hostname: redis
  name: redis
spec:
  ports:
  - name: redis
    port: 6379
    protocol: TCP
    targetPort: redis
  selector:
    app.kubernetes.io/component: redis
    app.kubernetes.io/name: redis
    app.kubernetes.io/part-of: services
  type: LoadBalancer
---
apiVersion: v1
kind: Service
metadata:
  annotations:
    kubernetes.progamesigner.dev/hostname: weaviate
  name: weaviate
spec:
  ports:
  - name: weaviate
    port: 8080
    protocol: TCP
    targetPort: weaviate
  selector:
    app.kubernetes.io/component: weaviate
    app.kubernetes.io/name: weaviate
    app.kubernetes.io/part-of: services
  type: LoadBalancer
