---
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
resources:
- controllers.yaml
- services.yaml
secretGenerator:
- name: weaviate
  literals:
  - AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED=false
  - DEFAULT_VECTORIZER_MODULE=none
  - CLUSTER_HOSTNAME=node1
  - AUTHENTICATION_APIKEY_ENABLED=true
  - AUTHENTICATION_APIKEY_USERS=default
  - AUTHENTICATION_APIKEY_ALLOWED_KEYS=password
  - AUTHORIZATION_ADMINLIST_ENABLED=true
  - AUTHORIZATION_ADMINLIST_USERS=default
