---
apiVersion: v1
kind: Service
metadata:
  name: headless-weaviate
spec:
  clusterIP: None
  ports:
  - name: weaviate
    port: 8080
    protocol: TCP
    targetPort: weaviate
  - name: grpc
    port: 8081
    protocol: TCP
    targetPort: grpc
  selector:
    app.kubernetes.io/component: weaviate
    app.kubernetes.io/name: weaviate
    app.kubernetes.io/part-of: services
