---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    kubernetes.progamesigner.dev/hostname: adguard
    nginx.org/ssl-services: adguard-home
  name: adguard-home
spec:
  ingressClassName: nginx-ingress
  rules:
  - host: adguard.progamesigner.dev
    http:
      paths:
      - backend:
          service:
            name: adguard-home
            port:
              name: https-tcp
        path: /
        pathType: Prefix
  tls:
  - hosts:
    - adguard.progamesigner.dev
    secretName: tls-dev-progamesigner
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    kubernetes.progamesigner.dev/hostname: dashboard
    nginx.org/websocket-services: dashboard
  name: dashboard
spec:
  ingressClassName: nginx-ingress
  rules:
  - host: dashboard.progamesigner.dev
    http:
      paths:
      - backend:
          service:
            name: dashboard
            port:
              name: http
        path: /
        pathType: Prefix
  tls:
  - hosts:
    - dashboard.progamesigner.dev
    secretName: tls-dev-progamesigner
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    kubernetes.progamesigner.dev/hostname: ai
  name: dify
spec:
  ingressClassName: nginx-ingress
  rules:
  - host: ai.progamesigner.dev
    http:
      paths:
      - backend:
          service:
            name: dify-api
            port:
              name: http
        path: /api/
        pathType: Prefix
      - backend:
          service:
            name: dify-api
            port:
              name: http
        path: /console/api/
        pathType: Prefix
      - backend:
          service:
            name: dify-plugin-daemon
            port:
              name: http
        path: /e/
        pathType: Prefix
      - backend:
          service:
            name: dify-web
            port:
              name: http
        path: /explore/
        pathType: Prefix
      - backend:
          service:
            name: dify-api
            port:
              name: http
        path: /files/
        pathType: Prefix
      - backend:
          service:
            name: dify-api
            port:
              name: http
        path: /v1/
        pathType: Prefix
      - backend:
          service:
            name: dify-web
            port:
              name: http
        path: /
        pathType: Prefix
  tls:
  - hosts:
    - ai.progamesigner.dev
    secretName: tls-dev-progamesigner
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    kubernetes.progamesigner.dev/hostname: home
    nginx.org/websocket-services: home-assistant
  name: home-assistant
spec:
  ingressClassName: nginx-ingress
  rules:
  - host: home.progamesigner.dev
    http:
      paths:
      - backend:
          service:
            name: home-assistant
            port:
              name: http
        path: /
        pathType: Prefix
  tls:
  - hosts:
    - home.progamesigner.dev
    secretName: tls-dev-progamesigner
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    kubernetes.progamesigner.dev/hostname: media
    nginx.org/rewrites: serviceName=windmill-api rewrite=/api/r/default/files/
  name: media
spec:
  ingressClassName: nginx-ingress
  rules:
  - host: media.progamesigner.dev
    http:
      paths:
      - backend:
          service:
            name: windmill-api
            port:
              name: http
        path: /
        pathType: Prefix
  tls:
  - hosts:
    - media.progamesigner.dev
    secretName: tls-dev-progamesigner
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    kubernetes.progamesigner.dev/hostname: mongodb
    nginx.org/websocket-services: mongodb-compass
  name: mongodb-compass
spec:
  ingressClassName: nginx-ingress
  rules:
  - host: mongodb.progamesigner.dev
    http:
      paths:
      - backend:
          service:
            name: mongodb-compass
            port:
              name: http
        path: /
        pathType: Prefix
  tls:
  - hosts:
    - mongodb.progamesigner.dev
    secretName: tls-dev-progamesigner
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    kubernetes.progamesigner.dev/hostname: postgresql
    nginx.org/client-max-body-size: 2G
    nginx.org/proxy-read-timeout: 3600s
    nginx.org/proxy-send-timeout: 3600s
  name: pgadmin
spec:
  ingressClassName: nginx-ingress
  rules:
  - host: postgresql.progamesigner.dev
    http:
      paths:
      - backend:
          service:
            name: pgadmin
            port:
              name: http
        path: /
        pathType: Prefix
  tls:
  - hosts:
    - postgresql.progamesigner.dev
    secretName: tls-dev-progamesigner
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    kubernetes.progamesigner.dev/hostname: mariadb,mysql
    nginx.org/client-max-body-size: 2G
    nginx.org/proxy-read-timeout: 3600s
    nginx.org/proxy-send-timeout: 3600s
  name: phpmyadmin
spec:
  ingressClassName: nginx-ingress
  rules:
  - host: mariadb.progamesigner.dev
    http:
      paths:
      - backend:
          service:
            name: phpmyadmin
            port:
              name: http
        path: /
        pathType: Prefix
  - host: mysql.progamesigner.dev
    http:
      paths:
      - backend:
          service:
            name: phpmyadmin
            port:
              name: http
        path: /
        pathType: Prefix
  tls:
  - hosts:
    - mariadb.progamesigner.dev
    - mysql.progamesigner.dev
    secretName: tls-dev-progamesigner
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    kubernetes.progamesigner.dev/hostname: redis
  name: redis-insight
spec:
  ingressClassName: nginx-ingress
  rules:
  - host: redis.progamesigner.dev
    http:
      paths:
      - backend:
          service:
            name: redis-insight
            port:
              name: http
        path: /
        pathType: Prefix
  tls:
  - hosts:
    - redis.progamesigner.dev
    secretName: tls-dev-progamesigner
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    kubernetes.progamesigner.dev/hostname: drive
    nginx.org/websocket-services: seafile-notification,seafile-seadoc
  name: seafile
spec:
  ingressClassName: nginx-ingress
  rules:
  - host: drive.progamesigner.dev
    http:
      paths:
      - backend:
          service:
            name: seafile-notification
            port:
              name: http
        path: /notification/ping
        pathType: Exact
      - backend:
          service:
            name: seafile-notification
            port:
              name: http
        path: /notification
        pathType: Exact
      - backend:
          service:
            name: seafile-seadoc
            port:
              name: http
        path: /sdoc-server/
        pathType: Prefix
      - backend:
          service:
            name: seafile-seadoc
            port:
              name: http
        path: /socket.io/
        pathType: Prefix
      - backend:
          service:
            name: seafile-thumbnail
            port:
              name: http
        path: /thumbnail/
        pathType: Prefix
      - backend:
          service:
            name: seafile
            port:
              name: http
        path: /
        pathType: Prefix
  tls:
  - hosts:
    - drive.progamesigner.dev
    secretName: tls-dev-progamesigner
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    kubernetes.progamesigner.dev/hostname: syncthing
    nginx.org/ssl-services: syncthing
  name: syncthing
spec:
  ingressClassName: nginx-ingress
  rules:
  - host: syncthing.progamesigner.dev
    http:
      paths:
      - backend:
          service:
            name: syncthing
            port:
              name: http
        path: /
        pathType: Prefix
  tls:
  - hosts:
    - syncthing.progamesigner.dev
    secretName: tls-dev-progamesigner
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    kubernetes.progamesigner.dev/hostname: network
    nginx.org/ssl-services: unifi-network
  name: unifi-network
spec:
  ingressClassName: nginx-ingress
  rules:
  - host: network.progamesigner.dev
    http:
      paths:
      - backend:
          service:
            name: unifi-network
            port:
              name: https
        path: /
        pathType: Prefix
  tls:
  - hosts:
    - network.progamesigner.dev
    secretName: tls-dev-progamesigner
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    kubernetes.progamesigner.dev/hostname: api,workflow
    nginx.org/rewrites: serviceName=windmill-api rewrite=/api/r/default/
    nginx.org/websocket-services: windmill,windmill-api,windmill-lsp
  name: windmill
spec:
  ingressClassName: nginx-ingress
  rules:
  - host: api.progamesigner.dev
    http:
      paths:
      - backend:
          service:
            name: windmill-api
            port:
              name: http
        path: /
        pathType: Prefix
  - host: workflow.progamesigner.dev
    http:
      paths:
      - backend:
          service:
            name: windmill-lsp
            port:
              name: lsp
        path: /ws/
        pathType: Prefix
      - backend:
          service:
            name: windmill
            port:
              name: http
        path: /
        pathType: Prefix
  tls:
  - hosts:
    - api.progamesigner.dev
    - workflow.progamesigner.dev
    secretName: tls-dev-progamesigner
