---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
components:
- adguard-home
- apprise
- clamav
- cloudflared
- coder
- dify
- gloomhaven
- home-assistant
- mongodb-compass
- pgadmin
- phpmyadmin
- proxy
- redis-insight
- rsshub
- seafile
- syncthing
- tailscale
- unifi-network
- vscode-server
- windmill
configMapGenerator:
- name: tunnels
  files:
  - haproxy.cfg=haproxy.cfg
  - tunnels.map=tunnels.map
configurations:
- configurations.yaml
namespace: default
patches:
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: home-assistant
    spec:
      strategy:
        type: Recreate
      template:
        metadata:
          annotations:
            k8s.v1.cni.cncf.io/networks: |
              [
                {
                  "name": "local",
                  "namespace": "kube-system",
                  "mac": "7A:22:25:01:04:03"
                }
              ]
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: unifi-network
    spec:
      strategy:
        type: Recreate
      template:
        metadata:
          annotations:
            k8s.v1.cni.cncf.io/networks: |
              [
                {
                  "name": "local",
                  "namespace": "kube-system",
                  "mac": "7A:22:25:01:04:02"
                }
              ]
- patch: |-
    apiVersion: v1
    kind: Service
    metadata:
      name: local-dns
    spec:
      loadBalancerIP: 192.168.0.8
- patch: |-
    apiVersion: v1
    kind: Service
    metadata:
      name: local-relaysrv
    spec:
      loadBalancerIP: 192.168.0.9
resources:
- certificates.yaml
- ingresses.yaml
- issuers.yaml
- services.yaml
- tunnels.yaml
secretGenerator:
- name: cert-manager-cloudflare
  envs:
  - cloudflare.env
- name: tailscale-app-connector
  envs:
  - tailscale.env
