---
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
resources:
- controllers.yaml
- storages.yaml
secretGenerator:
- name: redis-insight
  envs:
  - insight.env
  literals:
  - RI_DATABASE_MANAGEMENT=false
