---
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
resources:
- controllers.yaml
- services.yaml
secretGenerator:
- name: elasticsearch
  literals:
  - discovery.type=single-node
  - ELASTIC_USERNAME=default
  - ELASTIC_PASSWORD=password
  - ingest.geoip.downloader.enabled=false
