---
apiVersion: v1
kind: Service
metadata:
  name: headless-elasticsearch
spec:
  clusterIP: None
  ports:
  - name: elasticsearch
    port: 9200
    protocol: TCP
    targetPort: elasticsearch
  - name: transport
    port: 9300
    protocol: TCP
    targetPort: transport
  selector:
    app.kubernetes.io/component: elasticsearch
    app.kubernetes.io/name: elasticsearch
    app.kubernetes.io/part-of: services
