---
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
configMapGenerator:
- name: unifi-network
  literals:
  - MONGO_AUTHSOURCE=admin
  - MONGO_DBNAME=unifi
  - MONGO_HOST=mongodb.default.svc.cluster.local
  - MONGO_PASS=password
  - MONGO_PORT=27017
  - MONGO_USER=default
resources:
- controllers.yaml
- storages.yaml
