---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
components:
- ceph
- cert-manager
- coredns
- kube-router
- metallb
- metrics-server
- multus
- nginx-ingress
configurations:
- configurations.yaml
namespace: kube-system
patches:
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: metrics-server
    spec:
      template:
        spec:
          dnsConfig:
            searches:
            - progamesigner.net
- patch: |-
    apiVersion: v1
    kind: Service
    metadata:
      name: ceph-mon-a
    spec:
      clusterIP: 10.16.0.5
- patch: |-
    apiVersion: v1
    kind: Service
    metadata:
      name: ceph-mon-b
    spec:
      clusterIP: 10.16.0.6
- patch: |-
    apiVersion: v1
    kind: Service
    metadata:
      name: ceph-mon-c
    spec:
      clusterIP: 10.16.0.7
- patch: |-
    apiVersion: v1
    kind: Service
    metadata:
      name: coredns
    spec:
      clusterIP: 10.16.0.8
- patch: |-
    apiVersion: v1
    kind: Service
    metadata:
      name: cluster-dns
    spec:
      loadBalancerIP: 192.168.32.8
- patch: |-
    apiVersion: v1
    kind: Service
    metadata:
      name: cluster-ingress
    spec:
      loadBalancerIP: 192.168.32.11
resources:
- certificates.yaml
- ingressclasses.yaml
- networks.yaml
- services.yaml
- storageclasses.yaml
