---
kind: Service
apiVersion: v1
metadata:
  name: ceph-csi-cephfs-nodeplugin
spec:
  ports:
  - name: metrics
    port: 8080
    protocol: TCP
    targetPort: metrics
  selector:
    app.kubernetes.io/component: cephfs-nodeplugin
    app.kubernetes.io/name: ceph-csi
    app.kubernetes.io/part-of: kubernetes
---
kind: Service
apiVersion: v1
metadata:
  name: ceph-csi-cephfs-provisioner
spec:
  ports:
  - name: metrics
    port: 8080
    protocol: TCP
    targetPort: metrics
  selector:
    app.kubernetes.io/component: cephfs-provisioner
    app.kubernetes.io/name: ceph-csi
    app.kubernetes.io/part-of: kubernetes
---
apiVersion: v1
kind: Service
metadata:
  name: ceph-csi-rbd-nodeplugin
spec:
  ports:
  - name: metrics
    port: 8080
    protocol: TCP
    targetPort: metrics
  selector:
    app.kubernetes.io/component: rbd-nodeplugin
    app.kubernetes.io/name: ceph-csi
    app.kubernetes.io/part-of: kubernetes
---
kind: Service
apiVersion: v1
metadata:
  name: ceph-csi-rbd-provisioner
spec:
  ports:
  - name: metrics
    port: 8080
    protocol: TCP
    targetPort: metrics
  selector:
    app.kubernetes.io/component: rbd-provisioner
    app.kubernetes.io/name: ceph-csi
    app.kubernetes.io/part-of: kubernetes
---
apiVersion: v1
kind: Service
metadata:
  name: ceph-csi-nfs-nodeplugin
spec:
  ports:
  - name: metrics
    port: 8080
    protocol: TCP
    targetPort: metrics
  selector:
    app.kubernetes.io/component: nfs-nodeplugin
    app.kubernetes.io/name: ceph-csi
    app.kubernetes.io/part-of: kubernetes
---
kind: Service
apiVersion: v1
metadata:
  name: ceph-csi-nfs-provisioner
spec:
  ports:
  - name: metrics
    port: 8080
    protocol: TCP
    targetPort: metrics
  selector:
    app.kubernetes.io/component: nfs-provisioner
    app.kubernetes.io/name: ceph-csi
    app.kubernetes.io/part-of: kubernetes
---
apiVersion: v1
kind: Service
metadata:
  name: ceph-mon-a
spec:
  ports:
  - name: ceph-mon
    port: 3300
    protocol: TCP
  - name: ceph-mon-v1
    port: 6789
    protocol: TCP
  selector:
    app.kubernetes.io/component: mon
    app.kubernetes.io/name: ceph
    app.kubernetes.io/part-of: kubernetes
    ceph.kubernetes.progamesigner.dev/mon: a
---
apiVersion: v1
kind: Service
metadata:
  name: ceph-mon-b
spec:
  ports:
  - name: ceph-mon
    port: 3300
    protocol: TCP
  - name: ceph-mon-v1
    port: 6789
    protocol: TCP
  selector:
    app.kubernetes.io/component: mon
    app.kubernetes.io/name: ceph
    app.kubernetes.io/part-of: kubernetes
    ceph.kubernetes.progamesigner.dev/mon: b
---
apiVersion: v1
kind: Service
metadata:
  name: ceph-mon-c
spec:
  ports:
  - name: ceph-mon
    port: 3300
    protocol: TCP
  - name: ceph-mon-v1
    port: 6789
    protocol: TCP
  selector:
    app.kubernetes.io/component: mon
    app.kubernetes.io/name: ceph
    app.kubernetes.io/part-of: kubernetes
    ceph.kubernetes.progamesigner.dev/mon: c
---
apiVersion: v1
kind: Service
metadata:
  labels:
    kubernetes.io/cluster-service: 'true'
    kubernetes.io/name: CertManager
  name: cert-manager
spec:
  ports:
  - name: monitor
    port: 9402
    protocol: TCP
    targetPort: monitor
  selector:
    app.kubernetes.io/component: controller
    app.kubernetes.io/name: cert-manager
    app.kubernetes.io/part-of: kubernetes
---
apiVersion: v1
kind: Service
metadata:
  annotations:
    prometheus.io/port: '9153'
    prometheus.io/scrape: 'true'
  labels:
    kubernetes.io/cluster-service: 'true'
    kubernetes.io/name: CoreDNS
  name: coredns
spec:
  ports:
  - name: dns-tcp
    port: 53
    protocol: TCP
    targetPort: dns-tcp
  - name: dns-udp
    port: 53
    protocol: UDP
    targetPort: dns-udp
  - name: monitor
    port: 9153
    protocol: TCP
    targetPort: monitor
  selector:
    app.kubernetes.io/component: coredns
    app.kubernetes.io/name: coredns
    app.kubernetes.io/part-of: kubernetes
---
apiVersion: v1
kind: Service
metadata:
  labels:
    kubernetes.io/cluster-service: 'true'
    kubernetes.io/name: Metrics
  name: metrics-server
spec:
  ports:
  - name: https
    port: 443
    protocol: TCP
    targetPort: https
  selector:
    app.kubernetes.io/component: metrics-server
    app.kubernetes.io/name: metrics-server
    app.kubernetes.io/part-of: kubernetes
---
apiVersion: v1
kind: Service
metadata:
  labels:
    kubernetes.io/cluster-service: 'true'
    kubernetes.io/name: DNS
  name: cluster-dns
spec:
  ports:
  - name: dns-tcp
    port: 53
    protocol: TCP
    targetPort: dns-tcp
  - name: dns-udp
    port: 53
    protocol: UDP
    targetPort: dns-udp
  selector:
    app.kubernetes.io/component: coredns
    app.kubernetes.io/name: coredns
    app.kubernetes.io/part-of: kubernetes
  type: LoadBalancer
---
apiVersion: v1
kind: Service
metadata:
  labels:
    kubernetes.io/cluster-service: 'true'
    kubernetes.io/name: Ingress
  name: cluster-ingress
spec:
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: http
    appProtocol: http
  - name: https-tcp
    port: 443
    protocol: TCP
    targetPort: https-tcp
    appProtocol: https
  - name: https-udp
    port: 443
    protocol: UDP
    targetPort: https-udp
    appProtocol: https
  - name: dns-tls-tcp
    port: 853
    protocol: TCP
    targetPort: dns-tls-tcp
  - name: dns-tls-udp
    port: 853
    protocol: UDP
    targetPort: dns-tls-udp
  selector:
    app.kubernetes.io/component: nginx-ingress
    app.kubernetes.io/name: nginx-ingress
    app.kubernetes.io/part-of: kubernetes
  type: LoadBalancer
---
apiVersion: apiregistration.k8s.io/v1
kind: APIService
metadata:
  annotations:
    cert-manager.io/inject-ca-from: kube-system/metrics-server
  name: v1beta1.metrics.k8s.io
spec:
  group: metrics.k8s.io
  groupPriorityMinimum: 100
  service:
    name: metrics-server
  version: v1beta1
  versionPriority: 100
---
apiVersion: k8s.nginx.org/v1
kind: GlobalConfiguration
metadata:
  name: nginx-ingress
spec:
  listeners:
  - name: dns-tls-tcp
    port: 853
    protocol: TCP
  - name: dns-tls-udp
    port: 853
    protocol: UDP
