---
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
configMapGenerator:
- name: mariadb
  files:
  - max_connections.cnf=max_connections.cnf
resources:
- controllers.yaml
- services.yaml
secretGenerator:
- name: mariadb
  literals:
  - MARIADB_PASSWORD=password
  - MARIADB_ROOT_PASSWORD=password
  - MARIADB_USER=default
