---
apiVersion: v1
kind: Service
metadata:
  name: headless-mariadb
spec:
  clusterIP: None
  ports:
  - name: mariadb
    port: 3306
    protocol: TCP
    targetPort: mariadb
  selector:
    app.kubernetes.io/component: mariadb
    app.kubernetes.io/name: mariadb
    app.kubernetes.io/part-of: services
