---
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
configMapGenerator:
- name: postgresql
  files:
  - postgresql.conf=postgresql.conf
resources:
- controllers.yaml
- services.yaml
secretGenerator:
- name: postgresql
  literals:
  - POSTGRES_USER=default
  - POSTGRES_PASSWORD=password
